pre code.hljs {
    display: block;
    overflow-x: auto;
    padding: 1em !important
}

code.hljs {
    padding: 3px 5px
}

/*

Atom One Light by Daniel Gamage
Original One Light Syntax theme from https://github.com/atom/one-light-syntax

base:    #fafafa
mono-1:  #383a42
mono-2:  #686b77
mono-3:  #a0a1a7
hue-1:   #0184bb
hue-2:   #4078f2
hue-3:   #a626a4
hue-4:   #50a14f
hue-5:   #e45649
hue-5-2: #c91243
hue-6:   #986801
hue-6-2: #c18401

*/
.hljs {
    color: #383a42;
    background: #fafafa
}

.hljs-comment,
.hljs-quote {
    color: #a0a1a7;
    font-style: italic
}

.hljs-doctag,
.hljs-keyword,
.hljs-formula {
    color: #a626a4
}

.hljs-section,
.hljs-name,
.hljs-selector-tag,
.hljs-deletion,
.hljs-subst {
    color: #e45649
}

.hljs-literal {
    color: #0184bb
}

.hljs-string,
.hljs-regexp,
.hljs-addition,
.hljs-attribute,
.hljs-meta .hljs-string {
    color: #50a14f
}

.hljs-attr,
.hljs-variable,
.hljs-template-variable,
.hljs-type,
.hljs-selector-class,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-number {
    color: #986801
}

.hljs-symbol,
.hljs-bullet,
.hljs-link,
.hljs-meta,
.hljs-selector-id,
.hljs-title {
    color: #4078f2
}

.hljs-built_in,
.hljs-title.class_,
.hljs-class .hljs-title {
    color: #c18401
}

.hljs-emphasis {
    font-style: italic
}

.hljs-strong {
    font-weight: bold
}

.hljs-link {
    text-decoration: underline
}

body.dark {
    .hljs {
        background: #2e3440
    }

    .hljs,
    .hljs-subst {
        color: #d8dee9
    }

    .hljs-selector-tag {
        color: #81a1c1
    }

    .hljs-selector-id {
        color: #8fbcbb;
        font-weight: 700
    }

    .hljs-selector-attr,
    .hljs-selector-class {
        color: #8fbcbb
    }

    .hljs-property,
    .hljs-selector-pseudo {
        color: #88c0d0
    }

    .hljs-addition {
        background-color: rgba(163, 190, 140, .5)
    }

    .hljs-deletion {
        background-color: rgba(191, 97, 106, .5)
    }

    .hljs-built_in,
    .hljs-class,
    .hljs-type {
        color: #8fbcbb
    }

    .hljs-function,
    .hljs-function>.hljs-title,
    .hljs-title.hljs-function {
        color: #88c0d0
    }

    .hljs-keyword,
    .hljs-literal,
    .hljs-symbol {
        color: #81a1c1
    }

    .hljs-number {
        color: #b48ead
    }

    .hljs-regexp {
        color: #ebcb8b
    }

    .hljs-string {
        color: #a3be8c
    }

    .hljs-title {
        color: #8fbcbb
    }

    .hljs-params {
        color: #d8dee9
    }

    .hljs-bullet {
        color: #81a1c1
    }

    .hljs-code {
        color: #8fbcbb
    }

    .hljs-emphasis {
        font-style: italic
    }

    .hljs-formula {
        color: #8fbcbb
    }

    .hljs-strong {
        font-weight: 700
    }

    .hljs-link:hover {
        text-decoration: underline
    }

    .hljs-comment,
    .hljs-quote {
        color: #4c566a
    }

    .hljs-doctag {
        color: #8fbcbb
    }

    .hljs-meta,
    .hljs-meta .hljs-keyword {
        color: #5e81ac
    }

    .hljs-meta .hljs-string {
        color: #a3be8c
    }

    .hljs-attr {
        color: #8fbcbb
    }

    .hljs-attribute {
        color: #d8dee9
    }

    .hljs-name {
        color: #81a1c1
    }

    .hljs-section {
        color: #88c0d0
    }

    .hljs-tag {
        color: #81a1c1
    }

    .hljs-template-variable,
    .hljs-variable {
        color: #d8dee9
    }

    .hljs-template-tag {
        color: #5e81ac
    }

    .language-abnf .hljs-attribute {
        color: #88c0d0
    }

    .language-abnf .hljs-symbol {
        color: #ebcb8b
    }

    .language-apache .hljs-attribute {
        color: #88c0d0
    }

    .language-apache .hljs-section {
        color: #81a1c1
    }

    .language-arduino .hljs-built_in {
        color: #88c0d0
    }

    .language-aspectj .hljs-meta {
        color: #d08770
    }

    .language-aspectj>.hljs-title {
        color: #88c0d0
    }

    .language-bnf .hljs-attribute {
        color: #8fbcbb
    }

    .language-clojure .hljs-name {
        color: #88c0d0
    }

    .language-clojure .hljs-symbol {
        color: #ebcb8b
    }

    .language-coq .hljs-built_in {
        color: #88c0d0
    }

    .language-cpp .hljs-meta .hljs-string {
        color: #8fbcbb
    }

    .language-css .hljs-built_in {
        color: #88c0d0
    }

    .language-css .hljs-keyword {
        color: #d08770
    }

    .language-diff .hljs-meta,
    .language-ebnf .hljs-attribute {
        color: #8fbcbb
    }

    .language-glsl .hljs-built_in {
        color: #88c0d0
    }

    .language-groovy .hljs-meta:not(:first-child),
    .language-haxe .hljs-meta,
    .language-java .hljs-meta {
        color: #d08770
    }

    .language-ldif .hljs-attribute {
        color: #8fbcbb
    }

    .language-lisp .hljs-name,
    .language-lua .hljs-built_in,
    .language-moonscript .hljs-built_in,
    .language-nginx .hljs-attribute {
        color: #88c0d0
    }

    .language-nginx .hljs-section {
        color: #5e81ac
    }

    .language-pf .hljs-built_in,
    .language-processing .hljs-built_in {
        color: #88c0d0
    }

    .language-scss .hljs-keyword,
    .language-stylus .hljs-keyword {
        color: #81a1c1
    }

    .language-swift .hljs-meta {
        color: #d08770
    }

    .language-vim .hljs-built_in {
        color: #88c0d0;
        font-style: italic
    }

    .language-yaml .hljs-meta {
        color: #d08770
    }
}