.paginav {
    display: flex;
    line-height: 32px;
    border: none;
    background-color: var(--code-block-bg);
    gap: 16px
}

.paginav a {
    border-radius: var(--radius);
    background-color: var(--code-block-bg);
    padding: 4px 16px
}

.paginav .title {
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: small;
    color: var(--secondary);
}

.paginav .prev{
    width: 50%;
    border-radius: var(--radius) 0 0 var(--radius);
    
}
.paginav .next {
    width: 50%;
    border-radius: 0  var(--radius) var(--radius) 0;
    
}
.paginav span:hover:not(.title) {
    box-shadow: 0 1px 0;
}