.post-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

}

.post-tags li {
    display: inline-block;
}

.post-tags a {
    border: none;
    display: block;
    padding: 0 14px;
    color: var(--secondary);
    font-size: 14px;
    line-height: 34px;
    background: var(--code-bg);
    border-radius: var(--radius);
    background: var(--code-bg);
}

.post-tags a:hover,
.paginav a:hover {
    background: var(--border);
}