:root {
    --gap: 24px;
    --content-gap: 20px;
    --main-width: 720px;
    --nav-width: 1280px;
    --article-width: 640px;
    --toc-width: 320px;
    --header-height: 60px;
    --footer-height: 60px;
    --radius: 8px;

    --nord0: #2e3440;
    --nord1: #3b4252;
    --nord2: #434c5e;
    --nord3: #4c566a;
    --nord4: #d8dee9;
    --nord5: #e5e9f0;
    --nord6: #eceff4;
    --nordw: #ffffff;
    --nord7: #8fbcbb;
    --nord8: #88c0d0;
    --nord9: #81a1c1;
    --nord10: #5e81ac;
    --nord11: #bf616a;
    --nord12: #d08770;
    --nord13: #ebcb8b;
    --nord14: #a3be8c;
    --nord15: #b48ead;

    --nordrgb0: 46, 52, 64;
    --nordrgb1: 59, 66, 82;
    --nordrgb2: 67, 76, 94;
    --nordrgb3: 76, 86, 106;
    --nordrgb4: 216, 222, 233;
    --nordrgb5: 229, 233, 240;
    --nordrgb6: 236, 239, 244;
    --nordrgbw: 255, 255, 255;
    --nordrgb7: 143, 188, 187;
    --nordrgb8: 136, 192, 208;
    --nordrgb9: 129, 161, 193;
    --nordrgb10: 94, 129, 172;
    --nordrgb11: 191, 97, 106;
    --nordrgb12: 208, 135, 112;
    --nordrgb13: 235, 203, 139;
    --nordrgb14: 163, 190, 140;
    --nordrgb15: 180, 142, 173;

    /* Light mode colors using Nord */
    --theme: var(--nordw);
    --entry: var(--nord6);
    --primary: var(--nord1);
    --secondary: var(--nord3);
    --tertiary: var(--nord6);
    --content: var(--nord2);
    --code-block-bg: var(--nord6);
    --code-bg: var(--nord6);
    --border: var(--nord4);


}

.dark {
    --theme: var(--nord0);
    --entry: var(--nord1);
    --primary: var(--nord6);
    --secondary: var(--nord4);
    --tertiary: var(--nord1);
    --content: var(--nord5);
    --code-block-bg: var(--nord1);
    --code-bg: var(--nord1);
    --border: var(--nord3);
}