{{- $scratch := newScratch -}}

{{- /* 发布日期 */ -}}
{{- if not .Date.IsZero -}}
    {{- $dateFormat := site.Params.DateFormat | default "January 2, 2006" -}}
    {{- $formattedDate := .Date.Format $dateFormat -}}
    {{- $scratch.Add "meta" (slice (printf "<span title='%s'>%s</span>" .Date $formattedDate)) -}}
{{- end -}}

{{- /* 最后更新时间 */ -}}
{{- if (.Param "ShowLastMod") -}}
    {{- if ne (.Lastmod.Format "2006-01-02") (.Date.Format "2006-01-02") -}}
        {{- $dateFormat := .Site.Params.dateFormat | default "January 2, 2006" -}}
        {{- $updated := printf "Updated:&nbsp;%s" (.Lastmod.Format $dateFormat) -}}
        {{- $scratch.Add "meta" (slice $updated) -}}
    {{- end -}}
{{- end -}}

{{- /* 阅读时间 */ -}}
{{- if (.Param "ShowReadingTime") -}}
    {{- $readTime := i18n "read_time" .ReadingTime | default (printf "%d min" .ReadingTime) -}}
    {{- $scratch.Add "meta" (slice $readTime) -}}
{{- end -}}

{{- /* 字数统计 */ -}}
{{- if (.Param "ShowWordCount") -}}
    {{- $wordCount := i18n "words" .WordCount | default (printf "%d words" .WordCount) -}}
    {{- $scratch.Add "meta" (slice $wordCount) -}}
{{- end -}}

{{- /* 作者信息 */ -}}
{{- if not (.Param "hideAuthor") -}}
    {{- with (partial "author.html" .) -}}
        {{- $scratch.Add "meta" (slice .) -}}
    {{- end -}}
{{- end -}}

{{- /* 输出结果 */ -}}
{{- with $scratch.Get "meta" -}}
    <div class="post-meta">
        {{ delimit . "&nbsp;·&nbsp;" | safeHTML }}
    </div>
{{- end -}}