<style type="text/css">
    .friends {
        --link-count-per-row: 1;
    }

    @media screen and (min-width: 640px) {
        .friends {
            --link-count-per-row: 2;
        }
    }

    .friends {
        display: grid;
        grid-template-columns: repeat(var(--link-count-per-row), 1fr);
        grid-gap: 20px;
    }

    .friend-skeleton {
        height: 100px;
        /* 调整为合适的高度 */
        display: inline-block;
        position: relative;
    }

    .friend {
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        transition: 0.67s cubic-bezier(0.19, 1, 0.22, 1);
        border-radius: var(--radius);
        box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
            0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12) !important;
        overflow: hidden;
        display: flex;
        align-items: center;
        /* 垂直居中 */
        padding: 16px;
        background-color: var(--entry);
        /* 可选背景色 */
    }

    .friend:hover {
        transform: translateY(-8px);
        box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2),
            0 5px 8px 0 rgba(0, 0, 0, 0.14), 0 1px 14px 0 rgba(0, 0, 0, 0.12) !important;
    }

    .friend-avatar {
        object-fit: cover;
        width: 64px;
        height: 64px;
        border-radius: 50%;
        /* 圆形头像 */
        margin-right: 16px;
        /* 和文字之间留点空隙 */
        flex-shrink: 0;
        /* 防止被压缩 */
    }

    .friend-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex: 1;
        overflow: hidden;
    }

    .friend-name {
        font-size: 1.2rem;
        font-weight: bold;
        margin-bottom: 4px;
    }

    .friend-description {
        font-size: 0.9rem;
        color: var(--secondary);
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
</style>
<div class="friends">
    {{ range .Site.Data.friends }}
    <div class="friend-skeleton">
        <a href="{{ .link }}" target="_blank">
            <div class="friend">
                <img class="friend-avatar" src="{{ .image }}" />
                <div class="friend-content">
                    <div class="friend-name">{{ .title }}</div>
                    <div class="friend-description">{{ .intro }}</div>
                </div>
            </div>
        </a>
    </div>
    {{ end }}
</div>